html
    head
        title= title
        <link rel="icon" type="image/png" href="https://icons-for-free.com/iconfiles/png/512/bread+bread+loaf+food+toast+icon-1320168012160404253.png"/>
        link(rel="stylesheet" href="/css/test.css") 
    body
        nav
            ul 
                li: a(href="/users") Users
                li: a(href="/") Home
                li: a(href="/posts") All Posts 
                li: a(href="/posts/new") Create Post
                li: a(href="/users/signup") Sign Up!
                li: a(href="/users/login") Log In!
        block mainContent
        footer
            div About this page