html
    head
        title= title
    body
        nav
            ul 
                li: a(href="/users") Users
                li: a(href="/") Home
        block mainContent
        footer
            div About this page