extends layout.pug
block mainContent
    include utils.pug
    table
        thead
            tr
                th Name
                th Password
                th Email 
                th Favorite Bread
                th Profile Link
        tbody
            +userRow(user)