extends layout.pug
block mainContent
    link(rel="stylesheet" href="/css/test.css") 
    include utils.pug
    table.testClass
        thead
            tr
                th Name
                th Password
                th Email 
                th Favorite Bread
                th Profile Link
        tbody
            each user in users
                +userRow(user)
